<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="t3hyt001.png" alt="background image">
<p style="position:absolute;top:1142px;left:86px;white-space:nowrap" class="ft00">Doc. Ref.: t3hyt.indd  Issue 4  ECN I 2386 </p>
<p style="position:absolute;top:1142px;left:435px;white-space:nowrap" class="ft00">Page 1 of 2 </p>
<p style="position:absolute;top:1153px;left:86px;white-space:nowrap" class="ft00">9</p>
<p style="position:absolute;top:1153px;left:91px;white-space:nowrap" class="ft01">th</p>
<p style="position:absolute;top:1153px;left:95px;white-space:nowrap" class="ft00"> May 2011</p>
<p style="position:absolute;top:12px;left:542px;white-space:nowrap" class="ft02"><b>T3HYT CiTiceL</b></p>
<p style="position:absolute;top:15px;left:796px;white-space:nowrap" class="ft03"><b>®</b></p>
<p style="position:absolute;top:211px;left:188px;white-space:nowrap" class="ft04"><b>Technical Specifications</b></p>
<p style="position:absolute;top:270px;left:292px;white-space:nowrap" class="ft05">3HYT</p>
<p style="position:absolute;top:288px;left:292px;white-space:nowrap" class="ft05">To filter CO</p>
<p style="position:absolute;top:306px;left:292px;white-space:nowrap" class="ft05">4-20 mA d.c.</p>
<p style="position:absolute;top:324px;left:292px;white-space:nowrap" class="ft05">&lt;30 Seconds at 20°C</p>
<p style="position:absolute;top:342px;left:292px;white-space:nowrap" class="ft05">2 ppm</p>
<p style="position:absolute;top:360px;left:292px;white-space:nowrap" class="ft05">&lt; -35 ppm equivalent</p>
<p style="position:absolute;top:378px;left:292px;white-space:nowrap" class="ft05">2% of signal</p>
<p style="position:absolute;top:396px;left:292px;white-space:nowrap" class="ft05">Linear</p>
<p style="position:absolute;top:212px;left:601px;white-space:nowrap" class="ft04"><b>Product Dimensions</b></p>
<p style="position:absolute;top:717px;left:622px;white-space:nowrap" class="ft06">All dimensions in mm</p>
<p style="position:absolute;top:735px;left:541px;white-space:nowrap" class="ft06">All tolerances ±0.15 mm unless otherwise stated</p>
<p style="position:absolute;top:923px;left:89px;white-space:nowrap" class="ft07"><b>IMPORTANT NOTE:</b></p>
<p style="position:absolute;top:923px;left:228px;white-space:nowrap" class="ft05"> </p>
<p style="position:absolute;top:958px;left:89px;white-space:nowrap" class="ft05">All performance data is based on conditions at 20°C, 50% RH </p>
<p style="position:absolute;top:976px;left:89px;white-space:nowrap" class="ft05">and 1013 mBar. For further information on the operation and  </p>
<p style="position:absolute;top:994px;left:89px;white-space:nowrap" class="ft05">calibration of City Technology 4-20mA transmitters, please refer </p>
<p style="position:absolute;top:1012px;left:89px;white-space:nowrap" class="ft05">to OP-12.</p>
<p style="position:absolute;top:52px;left:501px;white-space:nowrap" class="ft05"> Hydrogen (H</p>
<p style="position:absolute;top:63px;left:590px;white-space:nowrap" class="ft08">2</p>
<p style="position:absolute;top:52px;left:595px;white-space:nowrap" class="ft05">) Gas Sensor with Transmitter</p>
<p style="position:absolute;top:248px;left:228px;white-space:nowrap" class="ft07"><b>MEASUREMENT</b></p>
<p style="position:absolute;top:269px;left:151px;white-space:nowrap" class="ft07"><b>Sensor Type Used</b></p>
<p style="position:absolute;top:287px;left:244px;white-space:nowrap" class="ft07"><b>Filter</b></p>
<p style="position:absolute;top:305px;left:231px;white-space:nowrap" class="ft07"><b>Output</b></p>
<p style="position:absolute;top:323px;left:137px;white-space:nowrap" class="ft07"><b>Response Time (T</b></p>
<p style="position:absolute;top:335px;left:266px;white-space:nowrap" class="ft09"><b>90</b></p>
<p style="position:absolute;top:323px;left:276px;white-space:nowrap" class="ft07"><b>)</b></p>
<p style="position:absolute;top:341px;left:203px;white-space:nowrap" class="ft07"><b>Resolution</b></p>
<p style="position:absolute;top:359px;left:93px;white-space:nowrap" class="ft07"><b>Zero Shift (-20°C to +40°C)</b></p>
<p style="position:absolute;top:377px;left:187px;white-space:nowrap" class="ft07"><b>Repeatability</b></p>
<p style="position:absolute;top:395px;left:218px;white-space:nowrap" class="ft07"><b>Linearity </b></p>
<p style="position:absolute;top:455px;left:292px;white-space:nowrap" class="ft05">10 - 35 VDC single-ended</p>
<p style="position:absolute;top:473px;left:292px;white-space:nowrap" class="ft05">4 M</p>
<p style="position:absolute;top:473px;left:317px;white-space:nowrap" class="ft010">Ω </p>
<p style="position:absolute;top:491px;left:292px;white-space:nowrap" class="ft05">Via built-in span and zero </p>
<p style="position:absolute;top:509px;left:292px;white-space:nowrap" class="ft05">potentiometers</p>
<p style="position:absolute;top:434px;left:240px;white-space:nowrap" class="ft07"><b>ELECTRICAL</b></p>
<p style="position:absolute;top:454px;left:113px;white-space:nowrap" class="ft07"><b>Power Supply Required</b></p>
<p style="position:absolute;top:472px;left:149px;white-space:nowrap" class="ft07"><b>Output Impedance</b></p>
<p style="position:absolute;top:490px;left:203px;white-space:nowrap" class="ft07"><b>Calibration</b></p>
<p style="position:absolute;top:567px;left:292px;white-space:nowrap" class="ft05">Via mounting nose supplied</p>
<p style="position:absolute;top:585px;left:292px;white-space:nowrap" class="ft05">58 g including mounting accessory</p>
<p style="position:absolute;top:603px;left:292px;white-space:nowrap" class="ft05">None</p>
<p style="position:absolute;top:544px;left:236px;white-space:nowrap" class="ft07"><b>MECHANICAL</b></p>
<p style="position:absolute;top:566px;left:214px;white-space:nowrap" class="ft07"><b>Mounting</b></p>
<p style="position:absolute;top:584px;left:231px;white-space:nowrap" class="ft07"><b>Weight</b></p>
<p style="position:absolute;top:602px;left:147px;white-space:nowrap" class="ft07"><b>Position Sensitivty</b></p>
<p style="position:absolute;top:659px;left:291px;white-space:nowrap" class="ft05">-20°C to +50°C</p>
<p style="position:absolute;top:677px;left:291px;white-space:nowrap" class="ft05">0°C to 20°C</p>
<p style="position:absolute;top:695px;left:291px;white-space:nowrap" class="ft05">None</p>
<p style="position:absolute;top:713px;left:291px;white-space:nowrap" class="ft05">Atmospheric ± 10%</p>
<p style="position:absolute;top:731px;left:291px;white-space:nowrap" class="ft05">0.009 ± 0.003% signal/mBar</p>
<p style="position:absolute;top:749px;left:291px;white-space:nowrap" class="ft05">15 - 90% RH non-condensing</p>
<p style="position:absolute;top:636px;left:224px;white-space:nowrap" class="ft07"><b>ENVIRONMENTAL</b></p>
<p style="position:absolute;top:658px;left:65px;white-space:nowrap" class="ft07"><b>Operating Temperature Range</b></p>
<p style="position:absolute;top:676px;left:70px;white-space:nowrap" class="ft07"><b>Recommended Storage Temp</b></p>
<p style="position:absolute;top:694px;left:82px;white-space:nowrap" class="ft07"><b>Temperature Compensation</b></p>
<p style="position:absolute;top:712px;left:87px;white-space:nowrap" class="ft07"><b> Operating Pressure Range</b></p>
<p style="position:absolute;top:730px;left:134px;white-space:nowrap" class="ft07"><b>Pressure Coefficient</b></p>
<p style="position:absolute;top:748px;left:91px;white-space:nowrap" class="ft07"><b>Operating Humidity Range</b></p>
<p style="position:absolute;top:801px;left:295px;white-space:nowrap" class="ft05">&lt;2% signal loss/month</p>
<p style="position:absolute;top:819px;left:295px;white-space:nowrap" class="ft05">Two years in air</p>
<p style="position:absolute;top:837px;left:295px;white-space:nowrap" class="ft05">6 months in CTL container</p>
<p style="position:absolute;top:855px;left:295px;white-space:nowrap" class="ft05">12 months from date of despatch</p>
<p style="position:absolute;top:778px;left:252px;white-space:nowrap" class="ft07"><b>LIFETIME</b></p>
<p style="position:absolute;top:801px;left:90px;white-space:nowrap" class="ft07"><b>Long Term Sensitivity Drift</b></p>
<p style="position:absolute;top:819px;left:108px;white-space:nowrap" class="ft07"><b>Expected Operating Life</b></p>
<p style="position:absolute;top:837px;left:194px;white-space:nowrap" class="ft07"><b>Storage Life</b></p>
<p style="position:absolute;top:855px;left:147px;white-space:nowrap" class="ft07"><b>Standard Warranty</b></p>
<p style="position:absolute;top:119px;left:257px;white-space:nowrap" class="ft011"><b>Key Features &amp; Benefits:</b></p>
<p style="position:absolute;top:144px;left:284px;white-space:nowrap" class="ft012">• </p>
<p style="position:absolute;top:144px;left:311px;white-space:nowrap" class="ft04"><b>Robust 3-Series packaging</b></p>
<p style="position:absolute;top:166px;left:284px;white-space:nowrap" class="ft012">• </p>
<p style="position:absolute;top:166px;left:311px;white-space:nowrap" class="ft04"><b>Industry standard 4-20 mA output</b></p>
<p style="position:absolute;top:774px;left:615px;white-space:nowrap" class="ft07"><b>RANGES AVAILABLE</b></p>
<p style="position:absolute;top:774px;left:766px;white-space:nowrap" class="ft05"> </p>
<p style="position:absolute;top:791px;left:689px;white-space:nowrap" class="ft00"> </p>
<p style="position:absolute;top:803px;left:526px;white-space:nowrap" class="ft05">3HYT CiTiceL 4-20 mA Transmitters are available </p>
<p style="position:absolute;top:821px;left:532px;white-space:nowrap" class="ft05">with the following precalibrated ranges, and can </p>
<p style="position:absolute;top:839px;left:562px;white-space:nowrap" class="ft05">be recalibrated to intermediate ranges.</p>
<p style="position:absolute;top:874px;left:688px;white-space:nowrap" class="ft06">`</p>
<p style="position:absolute;top:896px;left:617px;white-space:nowrap" class="ft013"><b>Range</b></p>
<p style="position:absolute;top:896px;left:706px;white-space:nowrap" class="ft013"><b>Order Code</b></p>
<p style="position:absolute;top:918px;left:605px;white-space:nowrap" class="ft06">0-200 ppm</p>
<p style="position:absolute;top:918px;left:715px;white-space:nowrap" class="ft06">TE1G-1A</p>
<p style="position:absolute;top:940px;left:605px;white-space:nowrap" class="ft06">0-300 ppm</p>
<p style="position:absolute;top:940px;left:715px;white-space:nowrap" class="ft06">TE1H-1A</p>
<p style="position:absolute;top:962px;left:605px;white-space:nowrap" class="ft06">0-500 ppm</p>
<p style="position:absolute;top:962px;left:718px;white-space:nowrap" class="ft06">TE1I-1A</p>
<p style="position:absolute;top:983px;left:602px;white-space:nowrap" class="ft06">0-1000 ppm</p>
<p style="position:absolute;top:983px;left:717px;white-space:nowrap" class="ft06">TE1J-1A</p>
<p style="position:absolute;top:1005px;left:602px;white-space:nowrap" class="ft06">0-2000 ppm</p>
<p style="position:absolute;top:1005px;left:716px;white-space:nowrap" class="ft06">TE1K-1A</p>
</div>
</body>