<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="t3hyt002.png" alt="background image">
<p style="position:absolute;top:1142px;left:86px;white-space:nowrap" class="ft00">Doc. Ref.: t3hyt.indd  Issue 4  ECN I 2386 </p>
<p style="position:absolute;top:1142px;left:435px;white-space:nowrap" class="ft00">Page 2 of 2 </p>
<p style="position:absolute;top:1153px;left:86px;white-space:nowrap" class="ft00">9</p>
<p style="position:absolute;top:1153px;left:91px;white-space:nowrap" class="ft01">th</p>
<p style="position:absolute;top:1153px;left:95px;white-space:nowrap" class="ft00"> May 2011</p>
<p style="position:absolute;top:155px;left:90px;white-space:nowrap" class="ft02"><b>Poisoning</b></p>
<p style="position:absolute;top:195px;left:90px;white-space:nowrap" class="ft03">CiTiceLs are designed for operation in a wide range of environments and harsh conditions. However, it is important </p>
<p style="position:absolute;top:213px;left:90px;white-space:nowrap" class="ft03">that exposure to high concentrations of solvent vapours is avoided, both during storage, fitting into instruments </p>
<p style="position:absolute;top:231px;left:90px;white-space:nowrap" class="ft03">and operation.</p>
<p style="position:absolute;top:249px;left:90px;white-space:nowrap" class="ft03">When using sensors with printed circuit boards (PCBs), degreasing agents should be used before the sensor is </p>
<p style="position:absolute;top:267px;left:90px;white-space:nowrap" class="ft03">fitted. Do not glue directly on or near the CiTiceL as the solvent may cause crazing of the plastic.</p>
<p style="position:absolute;top:303px;left:90px;white-space:nowrap" class="ft02"><b>Cross Sensitivity Table</b></p>
<p style="position:absolute;top:342px;left:90px;white-space:nowrap" class="ft03">Whilst CiTiceLs are designed to be highly specific to the gas they are intended to measure, they will still respond </p>
<p style="position:absolute;top:360px;left:90px;white-space:nowrap" class="ft03">to some degree to various other gases. The table below is not exclusive and other gases not included in the table </p>
<p style="position:absolute;top:378px;left:90px;white-space:nowrap" class="ft03">may still cause a sensor to react.</p>
<p style="position:absolute;top:419px;left:177px;white-space:nowrap" class="ft04"><b>Gas</b></p>
<p style="position:absolute;top:419px;left:380px;white-space:nowrap" class="ft04"><b>Concentration Used (ppm)</b></p>
<p style="position:absolute;top:419px;left:615px;white-space:nowrap" class="ft04"><b>3HYT (ppm H</b></p>
<p style="position:absolute;top:430px;left:709px;white-space:nowrap" class="ft05"><b>2</b></p>
<p style="position:absolute;top:419px;left:714px;white-space:nowrap" class="ft04"><b>)</b></p>
<p style="position:absolute;top:442px;left:177px;white-space:nowrap" class="ft03">Carbon Monoxide, CO</p>
<p style="position:absolute;top:442px;left:461px;white-space:nowrap" class="ft03">300</p>
<p style="position:absolute;top:442px;left:663px;white-space:nowrap" class="ft03">3</p>
<p style="position:absolute;top:465px;left:177px;white-space:nowrap" class="ft03">Hydrogen Sulfide, H</p>
<p style="position:absolute;top:476px;left:311px;white-space:nowrap" class="ft06">2</p>
<p style="position:absolute;top:465px;left:316px;white-space:nowrap" class="ft03">S</p>
<p style="position:absolute;top:465px;left:465px;white-space:nowrap" class="ft03">15</p>
<p style="position:absolute;top:465px;left:659px;white-space:nowrap" class="ft03">&lt;3</p>
<p style="position:absolute;top:488px;left:177px;white-space:nowrap" class="ft03">Sulfur Dioxide, SO</p>
<p style="position:absolute;top:499px;left:300px;white-space:nowrap" class="ft06">2</p>
<p style="position:absolute;top:488px;left:470px;white-space:nowrap" class="ft03">5</p>
<p style="position:absolute;top:488px;left:663px;white-space:nowrap" class="ft03">0</p>
<p style="position:absolute;top:511px;left:177px;white-space:nowrap" class="ft03">Nitric Oxide, NO</p>
<p style="position:absolute;top:511px;left:465px;white-space:nowrap" class="ft03">35</p>
<p style="position:absolute;top:511px;left:653px;white-space:nowrap" class="ft03">≈ 10</p>
<p style="position:absolute;top:534px;left:177px;white-space:nowrap" class="ft03">Nitrogen Dioxide, NO</p>
<p style="position:absolute;top:545px;left:319px;white-space:nowrap" class="ft06">2</p>
<p style="position:absolute;top:534px;left:470px;white-space:nowrap" class="ft03">5</p>
<p style="position:absolute;top:534px;left:663px;white-space:nowrap" class="ft03">0</p>
<p style="position:absolute;top:557px;left:177px;white-space:nowrap" class="ft03">Chlorine, Cl</p>
<p style="position:absolute;top:568px;left:255px;white-space:nowrap" class="ft06">2</p>
<p style="position:absolute;top:557px;left:470px;white-space:nowrap" class="ft03">1</p>
<p style="position:absolute;top:557px;left:663px;white-space:nowrap" class="ft03">0</p>
<p style="position:absolute;top:579px;left:177px;white-space:nowrap" class="ft03">Hydrogen Cyanide, HCN</p>
<p style="position:absolute;top:579px;left:465px;white-space:nowrap" class="ft03">10</p>
<p style="position:absolute;top:579px;left:657px;white-space:nowrap" class="ft03">≈ 3</p>
<p style="position:absolute;top:602px;left:177px;white-space:nowrap" class="ft03">Hydrogen Chloride, HCl</p>
<p style="position:absolute;top:602px;left:470px;white-space:nowrap" class="ft03">5</p>
<p style="position:absolute;top:602px;left:663px;white-space:nowrap" class="ft03">0</p>
<p style="position:absolute;top:625px;left:177px;white-space:nowrap" class="ft03">Ethylene, C</p>
<p style="position:absolute;top:637px;left:255px;white-space:nowrap" class="ft06">2</p>
<p style="position:absolute;top:625px;left:259px;white-space:nowrap" class="ft03">H</p>
<p style="position:absolute;top:637px;left:270px;white-space:nowrap" class="ft06">4</p>
<p style="position:absolute;top:625px;left:461px;white-space:nowrap" class="ft03">100</p>
<p style="position:absolute;top:625px;left:653px;white-space:nowrap" class="ft03">≈ 80</p>
<p style="position:absolute;top:679px;left:90px;white-space:nowrap" class="ft03">The cross-sensitivity values quoted are based on tests conducted on a small number of sensors. They are intended </p>
<p style="position:absolute;top:697px;left:90px;white-space:nowrap" class="ft03">to indicate sensor response to gases other than the target gas. Sensors may behave differently with changes in </p>
<p style="position:absolute;top:715px;left:90px;white-space:nowrap" class="ft03">ambient conditions and any batch may show significant variation from the values quoted.</p>
<p style="position:absolute;top:1002px;left:85px;white-space:nowrap" class="ft07">Every effort has been made to ensure the accuracy of this document at the time of printing. In accordance with the company’s policy of continued product improvement </p>
<p style="position:absolute;top:1015px;left:85px;white-space:nowrap" class="ft07">City Technology Limited reserves the right to make product changes without notice. No liability is accepted for any consequential losses, injury or damage resulting </p>
<p style="position:absolute;top:1027px;left:85px;white-space:nowrap" class="ft07">from the use of this document or from any omissions or errors herein. The data is given for guidance only. It does not constitute a specification or an offer for sale. The </p>
<p style="position:absolute;top:1040px;left:85px;white-space:nowrap" class="ft07">products are always subject to a programme of improvement and testing which may result in some changes in the characteristics quoted. As the products may be used </p>
<p style="position:absolute;top:1052px;left:85px;white-space:nowrap" class="ft07">by the client in circumstances beyond the knowledge and control of City Technology Limited, we cannot give any warranty as to the relevance of these particulars to </p>
<p style="position:absolute;top:1065px;left:85px;white-space:nowrap" class="ft07">an application. It is the clients’ responsibility to carry out the necessary tests to determine the usefulness of the products and to ensure their safety of operation in a </p>
<p style="position:absolute;top:1078px;left:85px;white-space:nowrap" class="ft07">particular application.</p>
<p style="position:absolute;top:1090px;left:85px;white-space:nowrap" class="ft07">Performance characteristics on this data sheet outline the performance of newly supplied sensors. Output signal can drift below the lower limit </p>
<p style="position:absolute;top:1103px;left:85px;white-space:nowrap" class="ft07">over time</p>
<p style="position:absolute;top:876px;left:95px;white-space:nowrap" class="ft04"><b>SAFETY NOTE </b></p>
<p style="position:absolute;top:894px;left:95px;white-space:nowrap" class="ft03">This sensor is designed to be used in safety critical applications. To ensure that the sensor and/or instrument </p>
<p style="position:absolute;top:912px;left:95px;white-space:nowrap" class="ft03">in which it is used, are operating properly, it is a requirement that the function of the device is confirmed by </p>
<p style="position:absolute;top:930px;left:95px;white-space:nowrap" class="ft03">exposure to target gas (bump check) before each use of the sensor and/or instrument. Failure to carry out </p>
<p style="position:absolute;top:948px;left:95px;white-space:nowrap" class="ft03">such tests may jeopardize the safety of people and property.</p>
</div>
</body>